@font-face {
  font-family: "roboto";
  src: url("./assets/Roboto-Thin.ttf"); /* EOT file for IE */
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.center-pic {
  margin-top: 30%;
  border-radius: 100%;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding-top: 60px;
  font-size: 6vh;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

.left {
  margin: 0;
  flex-basis: 30%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.right {
  margin: 0;
  flex-basis: 70%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  width: 60%;
}

.fblogo {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}

#badges {
  text-align: center;
  margin-top: 3em;
}

#logos {
  text-align: center;
  margin-top: 2em;
}

#vantaNet {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.vanta-canvas {
  position: fixed !important;
}
